.mainDivTools {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mainDivSkills {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 5;
}

.HSTRow {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.div1 {
  border: 2px solid rgb(0, 128, 255);
  height: 140px;
  width: 180px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  position: relative;

  /* cursor: pointer; */
}
.innerDiv {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  pointer-events: none;
}

.HSTRow :hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.vector80px {
  width: 80px;
  height: 80px;
}

.vector100px {
  width: 100px;
  height: 100px;
}

.vector120px {
  width: 120px;
  height: 120px;
}

.vector140px {
  width: 140px;
  height: 140px;
}

/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 962px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/*Tablets */
@media only screen and (max-width: 768px) {
  .div1 {
    border: 2px solid rgb(0, 128, 255);
    height: 130px;
    width: 140px;
    margin: 15px;
    border-radius: 5px;
    display: flex;
    position: relative;
  }

  .vector140px {
    width: 130px;
    height: 130px;
  }
}

/* Cellphone */
@media only screen and (max-width: 426px) {
  .div1 {
    border: 2px solid rgb(0, 128, 255);
    height: 100px;
    width: 110px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    position: relative;
  }
  .vector80px {
    width: 60px;
    height: 60px;
  }

  .vector100px {
    width: 80px;
    height: 80px;
  }

  .vector120px {
    width: 100px;
    height: 100px;
  }

  .vector140px {
    width: 100px;
    height: 100px;
  }
}

/* Cellphone M*/
@media only screen and (max-width: 375px) {
}
