.HomeIntroductionTextColor {
  color: white;
}

.centerFirstDiv {
  padding-top: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.homeIntroductionDiv {
  display: flex;
}

.divImage {
  margin: 40px 40px auto 40px;
}

.tiltComponentOverraide {
  display: flex;
  height: 375px;
  width: 420px;
  background-color: rgb(0, 128, 255);
  border-radius: 10%;
}
.divText {
  margin: 0px 50px;
  padding-bottom: 10px;
  font-family: "Heebo", sans-serif;
}

.blueColor {
  color: rgb(0, 128, 255);
  font-weight: bold;
}

.socialDiv {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.socialTitle {
  display: flex;
  margin: auto;
  padding-bottom: 20px;
  justify-content: center;
}

.socialLinks {
  display: flex;
  padding-bottom: 50px;
}

.github {
  margin: auto;
  display: flex;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
}

.linkedin {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github:hover {
  background: #333333;
  border-color: rgba(0, 0, 0, 0) !important;
}

.linkedin:hover {
  background: #0a66c2;
  border-color: rgba(0, 0, 0, 0) !important;
}

.connectionText {
  padding-top: 20px;
  font-family: "Heebo", sans-serif;
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 60px;
  font-size: 20px;
  padding-top: 50px;
}
