.color {
  color: white;
  pointer-events: none;
  margin-top: 10px;
}
.HPDiv {
  padding-bottom: 180px;
  padding-top: 40px;
}

.HPContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
/* .HPContainer :hover {
  transform: scale(1.05);
  transition: 0.5s;
} */

/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 962px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/*Tablets */
@media only screen and (max-width: 768px) {
}

/* Cellphone */
@media only screen and (max-width: 426px) {
  .HPContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
}

/* Cellphone M*/
@media only screen and (max-width: 375px) {
}
