.color {
  color: white;
  pointer-events: none;
  margin-top: 10px;
}
.HPDiv {
  padding-bottom: 180px;
  padding-top: 40px;
  position: relative;
}

.HPContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  position: relative;
}
/* .HPContainer :hover {
  transform: scale(1.05);
  transition: 0.5s;
} */
