/* Component Extritos */
.mainExtrasDiv {
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin: 0px;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  border: 1px;
  border-color: red;
}

.boxInputExtras {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 950px;
  height: 200px;
  padding: 10px 20px 10px 20px;

  flex-direction: column;
  color: black;
  font-size: 20px;

  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.tituloPrestacionAdicional {
  margin: 0%;
}

.mapFxExtras {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;

  flex-direction: column;
  color: black;
  font-size: 20px;

  border-radius: 15px;
  display: flex;

  justify-content: space-evenly;
}

.mapLineExtras {
  font-size: 100%;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
}

.mapIndexNumber {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30.4px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.plusButtonDiv {
  width: 60%;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: auto;
  margin-top: 10px;
  padding: 0px;
  flex-direction: column;
  color: black;
  border-radius: 15px;
  display: flex;
  bottom: 0%;
}

.plusButton {
  position: inherit;
}

.mainResultsExtrasDiv {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 70%;
  height: 200px;
  font-size: 20px;
  flex-direction: column;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.tituloResultados {
  margin: 0%;
}

.resultsExtrasInnerDiv {
  width: 100%;
  height: 100%;
  padding: 10px 0px 0px 0px;

  flex-direction: column;
  color: black;
  font-size: 12px;

  border-radius: 15px;
  display: flex;
}

.extraMainResults {
  font-size: 10px;
  margin: 0%;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 0px 0px 0px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  flex-direction: column;
  color: black;

  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  font-size: 90%;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
}

/*Component Input Prestación Adicional  */

.mapLine {
  display: flex;
  justify-content: space-evenly;
}

.firstInput {
  font-size: 60%;
  width: 25%;
  height: 32px;
}

.select {
  width: 189.175px;
}

.inputNumber {
  width: 15%;
  height: 32px;
  padding: 0px;
  border: 0px;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.minusButton {
  height: 32px;
  width: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
