* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.buscador {
  width: 100%;
  min-height: 80vh;
  /*background: url('./Assets/img/Fondo/Fondo_1.png'), linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  align-items: center;
}

.selectInput {
  width: 10rem;
  border: 5px solid transparent;
  outline-width: 0;
}

.button-container {
  position: relative;
  height: 100%;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
