.HPInnerDiv {
  position: relative;
  width: 380px;
  height: 650px;
  border: solid 3.5px rgb(0, 128, 255);
  border-radius: 5px;
  margin: 15px 15px;
}

.HPIndividualDiv {
  color: white;
  position: relative;
}

.projectComponentDiv {
  padding: 7px;
  font-family: "Heebo", sans-serif;
  position: relative;
}
.PCImageCenter {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.PCImg {
  width: 330px;
  height: auto;
  display: flex;
  margin: auto;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}

.PCTitle {
  color: rgb(0, 128, 255);
  font-size: 25px;
  display: flex;
  margin: 5px auto auto auto;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  font-family: "Outfit", sans-serif;
}

.PCDescriptionProject {
  margin: 5px 15px;
  font-size: 18px;
  text-align: justify;
}

.PCTecnologies {
  display: flex;
  justify-content: center;
  margin: 0px auto 5px auto;
  color: rgb(0, 128, 255);
  font-size: 18px;
  text-align: justify;
}

.PCFrameworks {
  display: flex;
  justify-content: center;
  margin: auto 15px;
  cursor: initial;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.PCButtonsDiv {
  display: flex;

  margin: auto;
  justify-content: space-evenly;
}

.vector20px {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.PCDemoButton {
  margin: auto 5px;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}

.glowingColorButton {
  width: auto;
  height: auto;
  align-items: center;
  display: flex;
  align-content: center;
  border: none;
  outline: none;
  border: solid 2px rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
}

.glowingColorButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowingColorButton:active {
  color: transparent;
}

.glowingColorButton:active:after {
  background: transparent;
}

.glowingColorButton:hover:before {
  opacity: 1;
}

.glowingColorButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #11111100;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing-glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 962px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/*Tablets */
@media only screen and (max-width: 768px) {
  .HPInnerDiv {
    position: relative;
    width: 320px;
    height: 700px;
    border: solid 3.5px rgb(0, 128, 255);
    border-radius: 5px;
    margin: 10px 10px;
  }

  .PCImg {
    width: 300px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }
}

/* Cellphone */
@media only screen and (max-width: 426px) {
  .HPInnerDiv {
    position: relative;
    width: 178px;
    height: 670px;
    border: solid 3.5px rgb(0, 128, 255);
    border-radius: 5px;
    margin: 3px 3px;
  }

  .PCImg {
    width: 160px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }

  .PCTitle {
    color: rgb(0, 128, 255);
    font-size: 20px;
    display: flex;
    margin: 5px auto auto auto;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-family: "Outfit", sans-serif;
  }

  .PCDescriptionProject {
    margin: 5px 5px;
    font-size: 13px;
    text-align: justify;
  }

  .PCTecnologies {
    text-align: center;
  }

  .PCFrameworks {
    display: flex;
    justify-content: center;
    margin: 0px;
    cursor: initial;
    padding-bottom: 5px;
    flex-wrap: wrap;
  }

  .glowingColorButton {
    padding: 5px;
  }
}

/* Cellphone M*/
@media only screen and (max-width: 375px) {
}
