.pdfWrapper {
  background: linear-gradient(90deg, #f8d5c6, #2e537c);
  height: 120vh;
}

.pdfContainer {
  padding-top: 55px;
  margin: auto;
  justify-content: center;
  display: flex;
}
.navResumePDF {
  display: flex;
  margin: auto;
  position: fixed;
  top: 0%;
  width: 100%;

  color: white;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  background-color: #1b1a2ea9 !important;

  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.nameContainerPDF {
  margin-left: 70px;
  margin-right: 70%;
  width: 180px;
}

.navbarNamePDF {
  color: white;
  font-family: "Caveat", cursive;

  font-size: 27px;
  font-weight: 700;
  cursor: pointer;
  margin: 0px;
  background: rgba(100, 200, 200, 0);
}

.downloadContainerPDF {
  margin: auto;
  display: flex;
  padding-right: 100px;
  cursor: pointer;
}

.downloadContainerPDF:hover {
  transform: scale(1.05);
}
