.homeDivRow {
  padding-top: 150px;
  padding-bottom: 150px;
  /* padding-left: 150px;
  padding-right: 100px; */
  display: flex;
}

.homeDivMessage {
  color: white;
  width: 100%;
  margin-left: 150px;
  /* padding-left: 150px; */
  font-size: 50px;
}

.homeBlueColor {
  color: rgb(0, 128, 255);
  font-size: 50px;
}

.homeDivProfilePicture {
  margin-left: 100px;
  margin-right: 200px;
  width: 100%;
  transition: box-shadow 0.1s, transform 0.1s;
}

.tiltComponentMain {
  display: flex;
  height: 440px;
  width: 420px;
  background-color: rgb(0, 128, 255);
  border-radius: 10%;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* RESPONSIVE */

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 962px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/*Tablets */
@media only screen and (max-width: 768px) {
  .homeDivMessage {
    margin-left: 50px;
    margin-right: 25px;
    font-size: 30px;
  }

  .homeBlueColor {
    color: rgb(0, 128, 255);
    font-size: 35px;
  }

  .homeDivProfilePicture {
    margin: auto;

    transition: box-shadow 0.1s, transform 0.1s;
  }

  .tiltComponentMain {
    display: flex;
    height: 310px;
    width: 300px;
    background-color: rgb(0, 128, 255);
    border-radius: 10%;
  }
}

/* Cellphone */
@media only screen and (max-width: 426px) {
  .homeDivMessage {
    color: white;
    width: 100%;
    font-size: 2px;
    margin-left: 10px;
  }

  .homeBlueColor {
    font-size: 40px;
  }

  .homeDivProfilePicture {
    margin: auto;

    transition: box-shadow 0.1s, transform 0.1s;
  }

  .tiltComponentMain {
    display: flex;
    height: 190px;
    width: 180px;
    background-color: rgb(0, 128, 255);
    border-radius: 10%;
  }
}

/* Cellphone */
@media only screen and (max-width: 426px) {
  .homeDivMessage {
    color: white;
    width: 100%;
    font-size: 2px;
    margin-left: 10px;
  }

  .homeBlueColor {
    font-size: 40px;
  }

  .homeDivProfilePicture {
    margin: auto;

    transition: box-shadow 0.1s, transform 0.1s;
  }

  .tiltComponentMain {
    display: flex;
    height: 190px;
    width: 180px;
    background-color: rgb(0, 128, 255);
    border-radius: 10%;
  }
}

/* Cellphone M*/
@media only screen and (max-width: 375px) {
  .homeDivMessage {
    color: white;
    width: 100%;
    font-size: 2px;
    margin-left: 0px;
  }

  .homeBlueColor {
    font-size: 40px;
  }

  .homeDivProfilePicture {
    margin: auto;

    transition: box-shadow 0.1s, transform 0.1s;
  }

  .tiltComponentMain {
    display: flex;
    height: 170px;
    width: 160px;
    background-color: rgb(0, 128, 255);
    border-radius: 10%;
  }
}
