.row-buttons-modal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
}

.col-buttons-modal {
  display: flex;
  flex-direction: column;
  width: 50%;
}
