.res_paq_wrp_all{
    width: 100%;
}
.res_paq_title{
    font-size: 1.5rem;
    color: #3b3b3b;
    margin: 1.5rem 0 0 20%;
}
.res_paq_title_final{
    font-size: 1.5rem;
    color: #3b3b3b;
    margin: 1.5rem 0 0 20%;
}
.res_paq_fecha{
    font-size: 1rem;
    color: #3b3b3b;
    margin: 0.5rem 0 0 20%;
    font-weight: 300;
}
.res_paq_wrp{
    margin: 1rem 20% 1rem 20%;
    border: #ececec solid 1px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
    .res_paq_row{
        width: 100%;
        padding: 5px 10px;
        color: #3b3b3b;
        font-size: 0.9rem;
        margin: 0;
        font-weight: 300;
    }
    .res_paq_popover{
        font-size: 0.8rem;
        color: white;
        background: #3b3b3b;
        width: 300px;
        margin: 0;
        padding: 10px;
    }
    .res_paq_delete_icon{
        font-size: 1.3rem;
        margin-left: 5px;
        margin-bottom: 4px;
        color: #f84747;
        cursor: pointer;
    }
.res_paq_total_p{
    font-size: 1.2rem;
    color: #3b3b3b;
    font-weight: 500;
    text-align: left;
    margin: 1px 20% 2rem 22%
}
.res_paq_in_cel{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    padding: 0 20%;
}
.res_paq_in_cel p{
    color: #3b3b3b;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
}
.res_paq_in_cel_p_ins{
    width: 100%;
    padding: 0 20px 10px 20px;
}
.res_paq_instrucciones{
    margin: 12px 20% 0 20% !important;
}

/* Celular */
@media screen and (max-width: 960px){
    .res_paq_wrp{
        margin: 1rem 5% 1rem 5%;
    }
    .res_paq_instrucciones{
        margin: 12px 5% 0 5% !important;
    }
    .res_paq_title_final{
        margin: 0.5rem 5% 0 5%;
        width: 90%;
        font-size: 1.3rem;
    }
    .res_paq_title{
        margin: 2rem 0 0 0;
        padding: 0 2%;
        width: 100%;
        text-align: center;
        font-size: 1.3rem;
    }
    .res_paq_fecha{
        font-size: 0.9rem;
        margin: 0.4rem 5% 0 5%;
    }
    .res_paq_in_cel{
        padding: 0 5%;
    }
}

@media screen and (max-width: 450px){
    .res_paq_title_final{
        margin: 0.5rem 2% 0 2%;
        width: 96%;
        font-size: 1.3rem;
    }
    .res_paq_wrp{
        margin: 1rem 2% 1rem 2%;
    }
    .res_paq_fecha{
        font-size: 0.9rem;
        margin: 0.4rem 2% 0 2%;
    }
}