.stepper-paquete-wrp{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
}
.stepper-paquete-wrp2{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
    .stepper-paquete-icon-wrp{
        padding: 0.7rem 0.8rem;
        color: #b7b7b7;
        font-size: 1.2rem;
        background: white;
        border-radius: 99px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        transition: 1.4s;
        z-index: 100;
    }
        .stepper-paquete-progress-p{
            color: #b7b7b7;
            font-size: 0.8rem;
            margin: 0;
            transition: 1.4s;
        }
    .stepper-paquete-icon-wrp.active{
        color: #0D3B66;
    }
        .stepper-paquete-progress-p.active{
            color: #0D3B66;
        }
    .stepper-paquete-progress{
        height: 5px;
        background: #0D3B66;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: 1.3s;
        z-index: 1;
        border-radius: 99px;
    }
    .stepper-paquete-progress-bg{
        height: 5px;
        background: #f1f1f1;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 0;
        border-radius: 99px;
        width: 100%;
    }

/* Celular */
@media screen and (max-width: 960px){
    .stepper-paquete-wrp2{
        width: 94%
    }
    .stepper-paquete-icon-wrp{
        padding: 0.7rem 0.5rem;
        font-size: 1.1rem;
    }
    .stepper-paquete-progress-p{
        font-size: 0.6rem;
        margin: 0;
    }
}