.sel-plan-titulo{
    font-size: 2rem;
    font-weight: 600;
    background-color: #f3ec78;
    background-image: linear-gradient(149deg, rgba(159,13,191,1) 39%, rgba(206,41,251,1) 60%, rgba(225,67,255,1) 85%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sel-plan-select-div{
    width: 80%;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,0.13);
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.13);
    padding: 1rem 0 0 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
}
.sel-plan-img{
    width: 8.7rem;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 7px 2px rgba(0,0,0,0.13);
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.13);
}
.sel-plan-txt{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 400;
}
.sel-plan-btn{
    /*background: linear-gradient(149deg, rgba(159,13,191,1) 39%, rgba(206,41,251,1) 60%, rgba(225,67,255,1) 85%);*/
    background: #8c50ff;
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0.4rem;
    cursor: pointer;
}

.planplus{
    /*background-color: #FFCA15;*/
    /*background: #8c50ff;*/
    background: #3b3b3b;
    color: white;
    font-size: 1.3rem;
    width: 15rem;
    position: absolute;
    top: 1.8rem;
    right: -4.5rem;
    transform: rotate(45deg);
    font-weight: 600;
    padding: 0.3rem 0;
}
.plan-selected{
    border: solid 4px rgba(206,41,251,1);
}

@media (hover: hover) {
    .sel-plan-select-div:hover{
        -webkit-box-shadow: 0 0 7px 2px rgba(206,41,251,1);
        box-shadow: 0 0 7px 2px rgba(206,41,251,1);
    }
}

@media screen and (max-width: 960px){
    .sel-plan-select-div{
        width: 100%;
        margin: 0 0 2rem 0;
    }
    .sel-plan-img{
        width: 5rem;
    }
    .sel-plan-txt{
        font-size: 0.8rem;
    }
    .sel-plan-btn{
        font-size: 1.4rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 260px){
    .sel-plan-img{
        width: 80%;
    }
}