.box-numero-paquete-pasos{
    color: #000000;
    font-weight: 500;
    text-align: center;
}
.boton-desactivado-whatsapp-pasos{
    background: #e2e2e2 !important;
    color: white;
    pointer-events: none;
}
