nav {
  display: flex;
  margin: auto;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 50px;

  color: white;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  right: 0px;
  left: 0px;
}

.navbarDiv {
  background-color: transparent;
}

.navbarDiv.active {
  background-color: #1b1a2ea9 !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.nameContainer {
  margin-left: 70px;
  margin-right: 30%;
  width: 180px;
}

.navbarName {
  color: white;
  font-family: "Caveat", cursive;
  cursor: pointer;
  margin: 0px;
  background: rgba(100, 200, 200, 0);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}

a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(to right, rgb(0, 128, 255), rgb(44, 149, 255));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
}

/* ////////////////////// */

.navAbout {
  align-content: center;
  display: flex;
  margin: auto 15px;
  cursor: pointer;
}

.navAbout svg {
  margin: auto 3px auto auto;
}

.navExperience {
  align-content: center;
  display: flex;
  margin: auto 15px;
  cursor: pointer;
}

.navExperience svg {
  margin: auto 6px auto auto;
}

.navProjects {
  align-content: center;
  display: flex;
  margin: auto 15px;
  cursor: pointer;
}

.navProjects svg {
  margin: auto 6px auto auto;
}

.navResume {
  align-content: center;
  display: flex;
  margin: auto 15px;
  cursor: pointer;
}

.navResume svg {
  margin: auto 2px auto auto;
}
