.navbarName {
  color: white;
  font-family: "Caveat", cursive;
  cursor: pointer;
  margin: 0px;
  background: rgba(100, 200, 200, 0);
}
nav {
  display: flex;
  margin: auto;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50px;

  color: white;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  right: 0px;
  left: 0px;
}

.nameContainer {
  margin-left: 70px;
  margin-right: 35%;
  width: 180px;
}
.linkContainer {
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
}

a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(to right, rgb(0, 128, 255), rgb(44, 149, 255));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  transition: background-size 400ms;
  margin-right: 15px;
  margin-left: 15px;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Presentational Styles */
body {
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
  height: 100vh;
  place-items: center;
}
