.allignCenter {
  display: flex;
  justify-content: space-evenly;
}

.leftButtonParentStepper {
  scale: 105%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.rigthButtonParentStepper {
  scale: 105%;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
