.quienesSomos-BG{
    background-color: #001b4c;
}
.QS-personaje{
    background: url('../../../Assets/img/Personaje/saludando_abajo.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center bottom;
}
.QS-titulo{
    font-size: 2rem;
    color: white;
    font-weight: 400;
    margin-top: 3rem;
    margin-left: 4rem;
}
.QS-texto{
    font-size: 1rem;
    color: white;
    padding: 3rem 4rem;
    text-align: justify;
    font-weight: 300;
}

@media screen and (max-width: 960px){
    .QS-titulo{
        font-size: 2rem;
        margin-top: 2rem;
        text-align: center;
        margin-left: 0;
    }
    .QS-texto{
        font-size: 0.9rem;
        padding: 1rem;
        text-align: justify;
        font-weight: 300;
    }
    .QS-personaje{
        display: none;
    }
    .QS-personaje-movil{
        min-height: 10rem;
        background: url('../../../Assets/img/Personaje/saludando_abajo.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center bottom;
    }
}
