.footerDiv {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: "Caveat", cursive;
  position: relative;
  align-items: center;
}

.footerName {
  font-family: "Caveat", cursive;
  cursor: pointer;
  font-size: 40px;
  margin-right: 40px;
  padding-bottom: 5px;
}

.footerSocialLinks {
  display: flex;
}

.footerSpaceBetween {
  margin: 0 7px;
}
