.wrapper-pagination{
    width: 100%;
    color: #3b3b3b;
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
    margin-top: 1rem;
}

.pagination-number-wrp{
    margin: 0 0.2rem;
    padding: 1rem;
    border-radius: 99px;
    position: relative;
    cursor: pointer;
}
.pagination-arrow-wrp{
    margin: 0 0.2rem;
    padding: 1rem;
    border-radius: 99px;
    position: relative;
    cursor: pointer;
}
.pagination-arrow-innactive{
    color: #cfcaca;
    margin: 0 0.2rem;
    padding: 1rem;
    border-radius: 99px;
    position: relative;
    cursor: not-allowed;
}
.pagination-dots-wrp{
    margin: 0 0.2rem;
    padding: 1rem;
    border-radius: 99px;
    position: relative;
}
.pagination-number-wrp.active{
    background-color: #3b3b3b;
}
.pagination-number-wrp.active:hover{
    background-color: #3b3b3b;
}
.pagination-arrow-wrp:hover{
    background-color: rgba(246, 241, 241, 0.9);
}
.pagination-number-wrp:hover{
    background-color: rgba(246, 241, 241, 0.9);
}
.pagination-number{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pagination-arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.1rem;
}
.pagination-number.active{
    color: white;
}

/* Celular */
@media screen and (max-width: 410px){
    .pagination-number-wrp{
        margin: 0 0.1rem;
        padding: 0.9rem;
    }
    .pagination-arrow-wrp{
        margin: 0 0.1rem;
        padding: 0.9rem;
    }
    .pagination-arrow-innactive{
        margin: 0 0.1rem;
        padding: 0.9rem;
    }
    .pagination-dots-wrp{
        margin: 0 0.1rem;
        padding: 0.9rem;
    }
}