* {
  box-sizing: border-box;
}

.navLSA {
  top: 0%;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  padding-right: 0px;
  padding-left: 0px;
  right: 0px;
  left: 0px;
}

.LSANavHomeTitle {
  color: white;

  cursor: pointer;
  margin-left: 70px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
}

.LSANavHomeTitle:hover {
  background-color: rgba(0, 0, 0, 0.211);
  border-radius: 10%;
}

/*
nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li.active {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
*/
