.modal-ev-1-click-wrp{
    width: 100%;
    display: flex;
    min-height: 300px;
}
.dialog-eventos-1-click::-webkit-scrollbar{
    width: 6px;
    background-color: #ececec;
    border-radius: 99px;
}
.dialog-eventos-1-click::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #929292;
}
    .modal-ev-1-click-img{
        width: 30%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        /*height: 380px;*/
    }
        .modal-ev-1-click-imgs-wrp{
            height: 190px;
            /*border: solid green 1px;*/
            overflow: hidden;
            position: relative;
            border-radius: 10px;
        }
            .modal-ev-1-click-imgs-img{
                position: absolute;
                width: 100%;
                min-height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
            .modal-ev-1-click-control-arrows{
                background-color: rgb(255,255,255);
                font-size: 1.8rem;
                color: #3b3b3b;
                border-radius: 99px;
                padding: 0.25rem 0.3rem 0.25rem 0.28rem;
                cursor: pointer;
                border: solid #e9e9e9 1px;
                margin: 0 5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .modal-ev-1-click-control-arrows.innactive{
                pointer-events: none;
                opacity: 0.5;
            }
        .modal-ev-1-click-checkbox-wrp{
            margin-top: 0.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            /*overflow-y: scroll;*/
        }
    .modal-ev-1-click-content{
        width: 70%;
        padding: 0 1rem;
    }
        .modal-ev-1-click-content-p{
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 25px;
            color: #3b3b3b;
            margin: 0;
        }
        .modal-ev-1-click-content-desc{
            font-size: 0.82rem;
            color: #3b3b3b;
            margin: 1rem 0 0 0;
            text-align: justify;
        }
            .modal-ev-1-click-content-desc a{
                text-decoration: none;
            }
        .modal-ev-1-click-checkbox-main-wrp{
            border-radius: 10px;
            border: solid #ececec 1px;
            padding: 10px;
            width: 100%;
            margin-top: 1rem;
            height: 250px;
            overflow-y: scroll;
        }
        .modal-ev-1-click-checkbox-main-wrp::-webkit-scrollbar{
            width: 6px;
            background-color: #ececec;
            border-radius: 0 99px 99px 0;
        }
        .modal-ev-1-click-checkbox-main-wrp::-webkit-scrollbar-thumb {
            border-radius: 0 99px 99px 0;
            background-color: #b7b7b7;
        }
            .modal-ev-1-click-checkbox-wrp-p{
                font-size: 0.82rem;
                color: #3b3b3b;
                font-weight: 500;
                margin: 0 0 5px 0;
            }
            .modal-ev-1-click-checkbox-wrp-flex{
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
            }
            .modal-ev-1-click-checkboxes{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 1rem 0 0;
                overflow: hidden;
            }
            .modal-ev-1-click-checkboxes-label{
                margin: 0 0 0 0.5rem;
                cursor: pointer;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
                color: #3b3b3b;
                font-weight: 300;
                font-size: 0.85rem;
            }

    .modal-ev-1-click-botanas-main-wrp{
        border-radius: 10px;
        border: solid #ececec 1px;
        padding: 10px;
        width: 100%;
        margin-top: 1rem;
    }
    .modal-ev-1-click-botanas-main-wrp p{
        font-size: 0.9rem;
        color: #3b3b3b;
        cursor: pointer;
        margin: 10px ;
    }
    .modal-ev-1-click-botanas-main-wrp.active{
        border-radius: 10px;
        border: solid #ececec 1px;
        padding: 10px;
        width: 100%;
        margin-top: 1rem;
        overflow-y: scroll;
        position: relative;
    }

/*Checkout*/
.modal-ev-1c-checkout-wrp{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-ev-whats-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* Celular */
@media screen and (max-width: 960px){
    .modal-ev-1-click-img{
        display: none;
    }
    .modal-ev-1-click-content{
        width: 100%;
        padding: 3%;
    }
    .modal-ev-1-click-content-p{
        font-size: 1.1rem;
        line-height: 23px;
        text-align: justify;
    }
    .modal-ev-1-click-imgs-wrp{
        margin: 1rem 0 0 0;
        height: 200px;
        width: 100%;
    }
}